/*IMPORTS*/

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,700;1,400&display=swap');



/*VARIABLES
*/
:root{
  --Font-Roboto-Bold:'Roboto', sans-serif;

  /*colores*/
  --Color1:hsl(234, 29%, 20%);
  --Color2: hsl(235, 18%, 26%);
  --color3:hsl(231, 7%, 60%);
  --color4:hsl(0, 0%, 100%);
}

*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
}

body{
  width: 100vw;
  height:100vh;
  background-color: var(--Color2);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}
.container_nw{
background-color: var(--color4);
width: 730px;
height: 440px;
border-radius: 20px;
margin: 40px;
}
.newsletter{
  display: flex;
  width: 100%;
  height: 100%;
  
}
.content{
  padding:30px;
}

.text{
  display: block;
  margin: 10px 0;
}
.content,.img{
  width: 100%;
  height: 100%;
}
label{
  font-size: 14px;
  color: var(--Color1);
  font-family: var(--Font-Roboto-Bold);
}
.title{
  color: var(--Color1);
  font-size:50px;
  font-family:var(--Font-Roboto-Bold);
  font-weight:bold;
  text-align: center;
  padding:5px;

}

.title2{
  color: var(--Color1);
  font-size:60px;
  font-family:var(--Font-Roboto-Bold);
  font-weight:bold;
  text-align: left;
  
}
.lista{
  list-style: none;
  margin-bottom: 20px;
}

.list,.checklist{
  padding:5px ;
}

li{
  display: flex;
  align-items: center;
  
}
.checklist{
  display:inline;
}
p{
  display:inline;
  color: var(--Color2);
  font-size: 16px;
  font-weight: lighter;
  font-family: var(--Font-Roboto-Bold);
}

.img-desk{
  height:100%;
  width: 100%;
  padding:15px;
}

input{
  display: block;
}
#email{
  padding: 10px;
  margin: 5px 0;
  width: 380px;
  height:50px;
  border-radius: 10px;
  border:1px solid var(--color3);
  
}
#btn_enviar,#resend{
  width:370px;
  height: 50px;
  background-color:var(--Color1);
  color:#ffff;
  border-radius: 10px;
  margin-top: 10px;
}

#resend{
  display: flex;
  justify-content:center;
  align-items:center;
}
#resend:hover{
  background-color:var(--Color2);
}
#resend a {
  width: inherit;
  height: inherit;
  color: #ffff;
  text-decoration: none;
  border: none;
  text-align: center;
  padding: 15px;
  font-family: var(--Font-Roboto-Bold);


}

#btn_enviar:hover{
  background-color:var(--Color2)
}

.campo_invalido {
  border: 1px solid red;
  background-color: rgb(249, 135, 135);
  color: red;
}

#mensaje_error{
  display: block;
  margin-left: 260px;
  font-size: 12px;
  font-family: var(--Font-Roboto-Bold);
  font-weight: bold;
}

.container_mensaje{

  width: 500px;
  height: 520px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  background-color: var(--color4);
  border-radius: 20px;
  padding: 50px;
}

.description{
  font-weight: 400;
}



/*MEDIA QUERYS*/


@media (max-width: 600px) {
  .container_nw {
    width: 100%;
    height: auto;
    margin: 20px;
  }

  .newsletter {
    flex-direction: column-reverse;
  }

  .img {
    background-image: url(../newsletter-sign-up-with-success-message-main/assets/images/illustration-sign-up-mobile.svg);
    background-position: center;
    background-repeat: no-repeat;
    height:450px;
    width: auto;
  }

  .img-desk{
    display: none;
  }

  .title {
    font-size: 40px;
  }

  .lista {
    text-align: center;
  }

  #email {
    width: 100%;
  }

  #btn_enviar, #resend {
    width: 100%;
  }
  .attribution{
    padding: 10px;
    margin:40px 0px;
  }
}

@media (max-width: 400px) {
  .title {
    font-size: 30px;
  }
}
